header {
    background-color: rgb(98,117,127);
    height: 80px;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(25,25,25);
    margin: 0px;
}

p {
    color: white;
}

h1 {
    color: rgb(98,117,127);
    font-weight: bold;
    font-size: 3vw;
}

h3 {
    position: relative;
    color: rgb(98,117,127);
    font-weight: bold;
    font-size: 2vw;
    margin: 0px;
}

table {
    width: 100%;
    overflow: hidden;
}

td {
    text-align: center;
}

.logo {
    float: left;
    height: 100%;
}

.nav {
    float: left;
    height: 100%;
    position: relative;
    left: 30%;
}

.icon {
    align: center;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    font-family: Papyrus;
    font-weight: bold;
    font-size: 40px;
}

.icon:hover {
    color: rgb(150,150,150);
}

.best-movie {
    width: 70%;
    position: relative;
    left: 15%;
}

#best-movie_title {
    font-weight: bold;
    font-size: 2.5vw;
}

#best-movie_description {
    font-size: 2vw;
}

#best-movie_pic {
    width: 100%;
    height: 100%;
}

#best-movie_pic:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.infos_button {
    background-color: rgb(98,117,127);
    border-radius: 2vw;
    height: 3vw;
    width: 10vw;
    font-weight: bold;
    font-size: 1.5vw;
    border: none;
    box-shadow: 0.5vw 0.5vw 0.5vw black;
    cursor:pointer;
}

.infos_button:hover {
    box-shadow: 0.3vw 0.3vw 0.3vw black;
    transform: scale(0.97);
}

.infos_button:active {
    box-shadow: 0.1vw 0.1vw 0.1vw black;
    transform: scale(0.94);
}

.carrousel {
    width: 50%;
    height: 22vw;
    position: relative;
    left: 25%;
    overflow: hidden;
}

.container {
    height: 20vw;
    transform: translate(-33.5vw);
}

.image {
    width: 17vw;
    height: 100%;
    margin: 0px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.button {
    position: absolute;
    cursor: pointer;
    width: 4vw;
    top: 9vw;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.button:hover {
    opacity: 1;
}

.g {
    left:10px;
}

.g:hover {
    transform: scale(1.1);
}

.d {
    right:10px;
    transform: rotate(180deg);
}

.d:hover {
    transform: rotate(180deg) scale(1.1);
}

.modal-container {
    display: none;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal {
    width: 85%;
    max-width: 900px;
    padding: 30px;
    background: rgb(98,117,127);
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e;
    color: white;
}

.modal_infos {
    position: relative;
    float: left;
    width: 70%;
    margin-top: 5%;
}

.modal_pic {
    position: relative;
    float: right;
    width: 22%;
    margin-top: 5%;
}

.modal h1 {
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.modal p {
    display: inline;
    color: black;
    font-size: 15px;
}








